/* all projects  */
.all-projects-single-project-bg{
    border: 1px solid #1C2B3A;
    border-radius: 10px;
    /* stroke: #1C2B3A; */
}

.all-projects-single-project-img-bg{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.all-projects-library-bg{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/images/library/portfolio_library.PNG');
}
.all-projects-utch-bg{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/images/ucth/porfolio_ucth.PNG');
}
.all-projects-habithack-bg{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/images/habithack/projects_habithack.jpeg');
}
.all-projects-beatbank-bg{
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../../../assets/images/beatbank/portfolio_beatbank.PNG');
}